/********DEFAULT STYLES************/
body {
  background-color: #FEE8D6;
  font-size: 100%;
}


/***NAVBAR DEFAULT STYLES***/
.navbar-brand {
  width: 20em;
  height: auto;
  padding-top: .3em;
  padding-bottom: .3em;
  margin-left: 1.5em;
}
.navbar-brand > img {
    max-height: auto;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
#navbarMain {
  position: relative;
}

#navNav > li {
  text-align: center;
}
#navNav > li > a {
  text-align: center;
  color: white;
}
#navNav > li > a:hover {
  color: red;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background-color: white;
}

#navNav > li.dropdown.open > ul {
  background-color: #080808;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

#navNav > li.dropdown.open > ul > li > a {
  margin-top: 1em;
  text-align: center;
  color: white;
}

#navNav > li.dropdown.open > ul > li:hover {

}

#navNav > li.dropdown.open > ul > li > a:hover {
  color:#CC3300;
  background-color: #080808;
}

.glyphicon-menu-hamburger {
  color: #CC3300;
}
.navbar-toggle {
  margin-top: .9em;
}
.navbar-inverse .navbar-toggle {
  border-color: white;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:visited {
  background-color: white;
}
/***NAVBAR DEFAULT STYLES END***/


.callOutRow img {
  width: 100%;
  max-height: 50vh;
}

.callOutRow p {
  padding-top: .3em;
  padding-bottom: .3em;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.1);
}
.callOutRow a {
  font-weight: 600;
  text-align: center;
  color: black;
}

.callOutRow a:hover {
  text-decoration: none;
  color:red;
}
.content p {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
  line-height: 1.5em;
}
.content p a {
  color: #B22222;
  text-decoration: none;
  font-weight: 600;
}
.content p a:hover {
  color:red;

}
.content h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: .5em;
  text-align: center;
}
.content hr {
margin-bottom: 1.5em;
}

.content h2 {
  font-size:  1.25em;
  font-style: 600;
  margin-bottom: 0;
}
.content ul {
  margin-left: 1em;
}
.panel-default {
  border-color: black;
}

.panel-group {
  margin-bottom: 1em;
}

.content .glyphicon {
  float: right;
}

legend {

}

/* ===== == = === <20em (<320px) === = == ===== */

@media only screen and (max-width : 20em) {
  #navNav > li.dropdown.open > ul {
    width: 100%;
  }
  #navNav > li {
  margin-top: .5em;
  }
  .navbar-brand {
    width: 10.5em;
  }
  .navbar-brand > img {
      padding-top: 1em;
  }
  .callOutRow h1 {
  display: none;
  }
}

/* ===== == = === 20em (320px) === = == ===== */

@media only screen and (min-width : 20em) {
  #navNav > li.dropdown.open > ul {
    width: 100%;
  }
  .navbar-brand {
    width: 12em;
  }
  .navbar-brand > img {
      padding-top: 1em;
  }

  .callOutRow h1 {
  display: none;
  }

  body {
    background-color: white;
  }
  .callOutRow a {
    display: inherit;
    margin-top: .3em;
  }

#success_message {
  display: none;
}
legend {
  margin-bottom: .5em;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 auto;
  display: block;
  width: auto;
  margin-top: 1.5em;
}
.glyphicon-send {
  margin-left: .5em;
}

}

/* ===== == = === 30em (480px) === = == ===== */

@media only screen and (min-width : 30em) {
  .navbar-brand {
    width: 16em;
  }
  .callOutRow a {
    display: inline-block;;
  }

}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: 37.5em) {
}

/* ===== == = === 48em (768px) ===BREAKPOINT = == ===== */

@media only screen and (min-width : 48em) {
  .callOutRow {
    margin-top: 2em;
  }
  .navbar-brand > img {
      padding-top: 1.7em;
  }
  #navNav > li.dropdown.open > ul {
    width: auto;
    margin-top: .6em;
  }
  .navbar-brand {
    width: 12em;
  }

  #navNav > li {
  margin-top: 1.3em;
}

.titleCallOut {
  display: block;
  text-align: right;
  margin-right: 2em;
  font-size: 1.5em;
  font-weight: 600;

}
#navNav {
  margin-right: 2.0em;
}
.titleCallOut {
  margin-right: .2em;
}

.callOutNumber {
  font-size: 1.5em;
}

} /**END 768px breakpoint**/

/* ===== == = === 52.5em (840px) === = == ===== */

@media only screen and (min-width : 52.5em) {

  .titleCallOut {
    margin-right: 2em;
  }

}

/* ===== == = === 56.25em (900px) === = == ===== */

@media only screen and (min-width : 56.25em) {
  .navbar-brand {
    width: 12em;
  }
  #navNav {
    margin-right: 4em;
  }
}
/* ===== == = === 62em (992px) === = == ===== BOOTSTRAP DEFAULT*/

@media only screen and (min-width : 62em) {

.navbar-brand {
  width: 16em;
}
.navbar-brand > img {
    padding-top: 1em;
}
#navNav > li {
margin-top: 1.5em;
}
}

/* ===== == = === 68.75em (1100px) === = == ===== */

@media only screen and (min-width : 68.75em) {
  .navbar-brand {
    width: 20em;
  }
  #navNav > li > a {
    padding-left: 1.3em;
    padding-right: 1.3em;
  }

}

/* ===== == = === 75em (1200px) === = == ===== */

@media only screen and (min-width : 75em) {
  #navNav > li > a {
    padding-left: 1.8em;
    padding-right: 1.8em;
  }

}

/* ===== == = === 81.25em (1300px) === = == ===== */

@media only screen and (min-width : 81.25em) {


}

/***override BS Queries***/
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
